{% extends 'base.html' %}

{% load static %}
{% block head %}
  <title>Dennis Walangadi</title>
  <meta name="description" content="See my pepew stories!">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta property="og:title" content="Pepew Submissions">
  <meta property="og:type" content="website">
  <meta property="og:site_name" content="Dennis' Stories">
{% endblock head %}

{% block style %}
  <link rel="icon" type="image/x-icon" href="{% static 'images/man.svg' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
  <link href="https://fonts.googleapis.com/css2?family=Rock+Salt&family=Open+Sans&display=swap" rel="stylesheet">
{% endblock style %}

{% block script %}
  <script src="https://kit.fontawesome.com/31c83bd84a.js" crossorigin="anonymous"></script>
{% endblock script %}

{% block main %}
<div class="grid grid-centered">
  <div class="grid-cell">
    <nav class="header-nav">
      <a class="header-logo toggle-dark-mode" title="Dennis Walangadi">DNSWD</a>
    </nav>

    <div class="about">
      
      <h1>Hi, I'm Dennis!</h1>
      <p>
        Here's some of my submissions for my web designing and programming course.
      </p>

      <h1>Stories</h1>
      <div>
        <ul>
          <li>
            <h3><a href="{% url 'homepage:index' %}">Story 1</a></h3>
          </li>
          <li>
            <h3><a href="https://www.figma.com/file/OfcqSfnJe6P7q87GmfLbef/Story2" target="_blank">Story 2</a></h3>
          </li>
          <li>
            <h3><a href="{% url 'story3:index' %}">Story 3</a></h3>
          </li>
          <li>
            <h3><a href="#">Story 4</a> (this page, and a nav button)</h3>
          </li>
          <li>
            <h3><a href="{% url 'jadwalku:index' %}">Story 5</a></h3>
          </li>
        </ul>
      </div>

    </div>

    <footer class="footer">
      <p>
        © 2020 Dennis A. Walangadi
      </p>
    </footer>
  </div>
</div>

<script type="text/javascript" src="{% static 'js/scripts.js' %}"></script>
{% endblock main %}
