{% load static %}

  {% block head %}
  <title>Dennis Walangadi | JadwalKu</title>
  <meta name="description" content="This things keeps me busy">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta property="og:title" content="JadwalKu">
  <meta property="og:type" content="website">
  <meta property="og:site_name" content="JadwalKu | Dennis Walangadi">

  <link rel="icon" type="image/x-icon" href="{% static 'images/man.svg' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/normalize.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/jadwalku.css' %}">
  <link href="https://fonts.googleapis.com/css2?family=Rock+Salt&family=Open+Sans&display=swap" rel="stylesheet">
  {% endblock head %}

  {% block script %}
  <script src="https://kit.fontawesome.com/31c83bd84a.js" crossorigin="anonymous"></script>
  {% endblock script %}

  {% block main %}
  {% include "navigation.html" %}
    <div class="grid grid-centered">
      <div class="grid-cell">
        <nav class="header-nav">
          <a class="header-logo toggle-dark-mode" title="JADWALKU">JADWALK U</a>
        </nav>
        
        <div class ="canvas">
            <div class="tambah-jadwal">
                <a href="{% url 'jadwalku:tambah' %}"><div class="round-button button-accent">+ Jadwal Baru</div></a>
            </div>

            <div class="deck">
                <div class="deck-grid">
                    <ul>
                      {% for matkul in mata_kuliah %}
                        <a href="{% url 'jadwalku:detail' matkul.id %}">
                          <li>
                              <h1>{{ matkul.nama_matkul }}</h1>
                              <code class="small">{{ matkul.semester }} - {{ matkul.kredit }}</code>
                          </li>
                        </a>  
                      {% endfor %}
                    </ul>
                </div>
            </div>

        </div>

        <footer class="footer">
          <p>
            © 2020 Dennis A. Walangadi
          </p>
        </footer>
      </div>
    </div>

    <script type="text/javascript" src="{% static 'js/scripts.js' %}"></script>
  {% endblock main %}
  