{% load static %}

  {% block head %}
  <title>Dennis Walangadi | JadwalKu</title>
  <meta name="description" content="These things keeps me busy">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta property="og:title" content="JadwalKu">
  <meta property="og:type" content="website">
  <meta property="og:site_name" content="JadwalKu | Dennis Walangadi">

  <link rel="icon" type="image/x-icon" href="{% static 'images/man.svg' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/normalize.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/jadwalku.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
  <link href="https://fonts.googleapis.com/css2?family=Rock+Salt&family=Open+Sans&display=swap" rel="stylesheet">
  {% endblock head %}

  {% block script %}
  <script src="https://kit.fontawesome.com/31c83bd84a.js" crossorigin="anonymous"></script>
  {% endblock script %}

  {% block main %}
  {% include "navigation.html" %}
    <div class="grid grid-centered">
      <div class="grid-cell">
        <nav class="header-nav">
          <a class="header-logo toggle-dark-mode" title="JadwalKu">JADWALK U</a>
        </nav>
        
        <div class ="about">
            <h1>{{ matkul.nama_matkul }}</h1>
            <code>Created at {{matkul.waktu_dibuat }}</code>
            <table>
                <tr>
                <th>Kelas</th>
                <th>: </th>
                <td>{{ matkul.kelas }}</td>
                </tr>
                <tr>
                <th>Jumlah SKS&nbsp;</th>
                <th>: </th>
                <td>{{ matkul.kredit }}</td>
                </tr>
                <tr>
                <th>Pengajar</th>
                <th>: </th>
                <td>{{ matkul.pengajar }}</td>
                </tr>
                <tr>
                <th>Semester</th>
                <th>: </th>
                <td>{{ matkul.semester }}</td>
                </tr>

            </table>
            <h1>Deskripsi</h1>
            <p>{{ matkul.deskripsi }}</p>
        </div>

        <div class="tambah-jadwal">
                <a href="{% url 'jadwalku:index' %}"><div class="round-button button-accent">Kembali</div></a>
                <a href="{% url 'jadwalku:hapus' matkul.id %}"><div class="round-button button-accent warn">Hapus</div></a>
            </div>

        <footer class="footer">
          <p>
            © 2020 Dennis A. Walangadi
          </p>
        </footer>
      </div>
    </div>

    <script type="text/javascript" src="{% static 'js/scripts.js' %}"></script>
  {% endblock main %}
  