@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&family=Yeseva+One&family=Source+Serif+Pro&display=swap');

/* Variables starts here */

:root {
    --color-background: #fff;
    --color-primary: #EDEDED;
    --color-content: #000;
}

body[data-theme="dark"] {
    --color-background: #1A191D;
    --color-primary: #303030;
    --color-content: #EDEDED;
}

/* Components starts here */

body {
    color: var(--color-content);
    background-color: var(--color-background);
    transition: background-color 0.5s ease;
}

a {
    color: inherit;
    text-decoration: inherit;
}

a:hover {
    color: #7CA8DE;
}

.firstView {
    display: flex;
}

.title {
    margin-top: 10%;
    flex: 50%
}

.topMainTitle {
    font-family: 'Open Sans', sans-serif;
    font-size: 30;
}

.mainTitle {
    font-family: 'Yeseva One', serif;
    font-size: 72px;
}

.bottomMainTitle {
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    margin-top: 18px;
}

@media only screen and (max-width: 450px) {
    .mainTitle {
        font-size: 17vw;
    }
    .bottomMainTitle {
        width: 95%;
        margin: auto;
        padding-top: 15px;
    }
}

div.photo > img {
    float: right;
    clear: right;
}

.photo {
    flex: 50%;
    margin-left: 5%;
    margin-top: 5%;
    text-align: right;
    float: right;
}

#myself {
    max-width: 100%;
    max-height: 100%;
    display: block;
}

@media only screen and (max-width: 850px) {
    .photo {
        width: 100%;
        flex: 100%;
        margin: 0;
        padding-top: 7%;
    }
    div.photo > img {
        float: none;
        text-align: center;
        margin: auto;
    }
    .title {
        width: 100%;
        flex: 100%;
        text-align: center;
    }
    .firstView {
        flex-wrap: wrap-reverse;
    }
}

.secondView {
    background-color: var(--color-primary);
    text-align: center;
    margin-top: 0;
}

.xpText {
    font-family: 'Yeseva One', serif;
    font-size: 48px;
    padding-top: 50px;
    padding-bottom: 25px;
}

.secondView ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    display: inline-block;
}

li div {
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    display: block;
    text-align: center;
    padding: 16px 25px;
    text-decoration: none;
}

.faLogo {
    font-size: 100px;
    padding-bottom: 20px;
}

#python {
    font-size: 90px;
}

.denoLogo {
    height: 100px;
    width: 100px;
    padding-bottom: 20px;
}

.xpLink {
    padding: 40px;
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
}

.xpLink svg {
    font-size: 2em;
    margin: 0px 8px;
    vertical-align: middle;
}

.tlText {
    font-family: 'Yeseva One', serif;
    font-size: 48px;
    padding: 50px 20px;
    text-align: center;
}

.vertical-timeline-element-icon {
    position: absolute;
    top: 21% !important;
    left: 12px !important;
    width: 15px !important;
    height: 15px !important;
    background: #C4C4C4;
    box-shadow: none !important;
}

.vertical-timeline {
    margin-bottom: 50px !important;
}

.vertical-timeline::before {
    /* this is the vertical line */
    content: '';
    position: absolute;
    top: 50px;
    left: 18px;
    height: 100%;
    width: 4px;
    background: #C4C4C4 !important;
}

@media only screen and (min-width: 1170px) {
    .vertical-timeline--two-columns .vertical-timeline-element-icon {
        left: 52% !important;
        margin-left: -31px !important;
    }
}

.vertical-timeline-element-content {
    background: none !important;
    border-radius: 0 !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.vertical-timeline-element-content-arrow {
    border: none;
}

.tlContent h1 {
    font-family: 'Source Serif Pro';
    font-weight: normal !important;
    font-style: italic;
}

.tlContent h4 {
    font-family: Roboto, sans-serif;
    font-style: italic;
    font-weight: normal !important;
}

.tlContent p {
    font-family: 'Open sans', sans-serif;
    font-size: 1em !important;
}

.reachContent {
    margin: auto;
    display: flex;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 50%;
}

.reachText {
    font-family: 'Yeseva One', serif;
    display: flex;
    align-items: center;
    font-size: 65px;
    text-align: left;
    flex: 30%;
    width: 200px;
}

.reachLink {
    font-size: 50px;
    display: inline-flex;
    align-items: center;
    text-align: right;
    text-decoration: none;
    justify-content: flex-end;
    flex: 70%
}

.reachLink li {
    margin: 10px 20px;
}

@media only screen and (max-width: 820px) {
    .reachContent {
        width: fit-content;
        flex-direction: column;
        align-items: center;
    }
    .reachText {
        flex: none;
        display: inline-flex;
        text-align: center !important;
        margin-block-start: 0;
        margin-block-end: 0;
        padding-inline-start: 0;
        font-size: 45px !important;
        padding-top: 10px;
    }

    .reachLink ul {
        text-align: center;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        padding-left: 0;
        padding-bottom: 10px;
    }
    .reachLink li {
        padding: 0 !important;
        list-style-type: none;
        display: flex;
        text-align: center;
        flex: 50%;
        margin: auto;
        flex-direction: column;
    }

    .reachLink a {
        padding-top: 25px;
    }
}

.copyright {
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    padding: 50px;
    text-align: center;
    font-size: 14px;
}

.light-switch {
    z-index: 999;
    position: fixed;
    top: 0;
    right: 0;
    display: inline-flex;
    padding: 1em;
}
