<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    {% block head %}
    {% endblock head %}

    {% block script %}
    {% endblock script %}

    {% block style %}
    {% endblock style %}


    {% block body %}
    {% endblock body %}

        {% block main %}
        {% endblock main %}


</html>